---
import BaseLayout from '@/layouts/BaseLayout.astro'
import PDFViewer from '@/components/PDFViewer.vue'

const pdfLink =
  'https://dl.dropboxusercontent.com/scl/fi/t7u9v7mdnzwqnai34li96/Resume.pdf?rlkey=7h1b9uhm7n7q9chsl0sbap30y&st=y6j8k5hc'
const pdfName = `Taha Rashid's Resume`
---

<BaseLayout title="Resume" description="A document of my professional experiences">
  <h1 class="mb-10 text-title">Resume</h1>
  <div mb-16 sm:mb-24>
    {(<PDFViewer client:only pdfLink={pdfLink} pdfName={pdfName} />)}
  </div>
</BaseLayout>
