---
import BaseLayout from '@/layouts/BaseLayout.astro'
// TODO: create PDFViewer Vue component
// import PDFViewer from '@/components/PDFViewer.vue'
---

<BaseLayout title="Resume" description="A document of my professional experiences">
  <h1 class="mb-10 text-title">Resume</h1>
  <div mb-16 sm:mb-24>
    {'TODO: create PDFViewer component & display resume here'}
  </div>
</BaseLayout>
