---
import BaseLayout from '@/layouts/BaseLayout.astro'
import PDFViewer from '@/components/PDFViewer.vue'

const pdfLink = '/resume/resume.pdf'
const pdfName = `Taha Rashid's Resume`
---

<BaseLayout title="Resume" description="A document of my professional experiences">
  <h1 class="mb-10 text-title">Resume</h1>
  <div mb-16 sm:mb-24>
    {(<PDFViewer client:only pdfLink={pdfLink} pdfName={pdfName} />)}
  </div>
</BaseLayout>
